In [1]:
pwd

'/Users/annabell/UofU/Sigman/python-modeling/demo'

In [2]:
!git branch

* anna
  master

In [3]:
import pandas as pd

In [4]:
#how to access the class
from reading_data import modeling_methods
lab_methods = modeling_methods()

# Get data using "single file" as function (no changes from original file)

In [5]:
lab_methods.read_single_file() #using default params

NameError: name 'num_par' is not defined

# Dynamic File Reader Options (Simplified Implementation)

In [16]:
lab_methods.read_excel_file("../model_oct_bothsubs"+".xlsx")

In [17]:
lab_methods.df

,0,Unnamed: 1,1,2,3,4,5,6,Unnamed: 8,55,79
3,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,x49,x73
4,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
5,L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.5,92,6,27.666667,69,0,-0.59232,-0.89851
6,L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27,65,0,-0.5878,-0.9073
7,L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
...,...,...,...,...,...,...,...,...,...,...,...
68,test_040,NaN,0,0,0,0,0,0,1,-0.59292,-0.90833
69,test_041,NaN,0,0,0,0,0,0,1,-0.59323,-0.89339
70,test_042,NaN,0,0,0,0,0,0,1,-0.59277,-0.90862
71,test_043,NaN,0,0,0,0,0,0,1,-0.59967,-0.89468
72,test_044,NaN,0,0,0,0,0,0,1,-0.59652,-0.88924