In [1]:
from split_data import split_data
split_methods = split_data()
from reading_data import read_excel_file
read_methods = read_excel_file()

In [2]:
header_col = 5
rows_start = 0
rows_stop = 24
cols_start = 2
cols_stop = 24

read_methods.read_excel_file("../model_oct_bothsubs"+".xlsx", "bubbleplot", header_col, rows_start, rows_stop, cols_start, cols_stop)
my_dataframe = read_methods.get_dataframe()
my_dataframe.head()

,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
3,L4,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.500000,61,0,-0.59187,-0.89612
4,L5,CN1CCN(CC1)S(=O)(=O)c2cccc(c2NC(=O)C(=O)[O-])F...,8,48.333333,83,3,21.333333,55,0,-0.59182,-0.90570

In [3]:
my_dataframe.columns

Index(['ID', 'SMILES', 's2_1h_%yield', 's2_3.5h_%yield(avg)', 's2_21h_%yield',
       's4_1h_%yield', 's4_3.5h_%yield(avg)', 's4_21h_%yield', 'virtual',
       'nbo_N_oxamide_max', 'nbo_aryl_sub_=O_max_max'],
      dtype='object')

In [4]:
X_train, X_test, y_train, y_test = split_methods.random_split(my_dataframe['s2_1h_%yield'], my_dataframe['virtual'])

In [5]:
split_methods.view_split_results()

y_mean: 0.569
y_mean: 0.882
Shape X_train: (51,)
Shape X_test:  (17,)