In [9]:
pwd

'/Users/annabell/UofU/Sigman/python-modeling/demo'

In [10]:
!git branch

* anna
  master

In [11]:
import pandas as pd
import numpy as np

# Get data using "single file" as function

In [16]:
import reading_data #my file that implements "Single File" as a function

In [17]:
reading_data.read_single_file() #using default params

                                             SMILES  s2_1h_%yield  \
ID
ID                                           SMILES  s2_1h_%yield
L1     c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F            18
L2   COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F             9
L3  COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC             6
L4     c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F            17

    s2_3.5h_%yield(avg)  s2_21h_%yield  s4_1h_%yield  s4_3.5h_%yield(avg)  \
ID
ID  s2_3.5h_%yield(avg)  s2_21h_%yield  s4_1h_%yield  s4_3.5h_%yield(avg)
L1                 55.5             92             6            27.666667
L2            36.333333             92             6                   27
L3            19.666667             73             2            11.333333
L4            57.666667             89             7                 35.5

    s4_21h_%yield  virtual                x49                      x73
ID
ID  s4_21h_%yield  virtual  nbo_N_oxamide_max  nbo_aryl_sub_=O_max_max
L1             69        0           -0.59232                 -0.89851
L2             65        0            -0.5878                  -0.9073
L3             57        0           -0.57818                 -0.90199
L4             61        0           -0.59187                 -0.89612

NameError: name 'np' is not defined

# look at first rows of a few sheets

In [4]:
bubbleplot = pd.read_excel("../model_oct_bothsubs"+".xlsx", "bubbleplot", header=4, index_col = "ID")
bubbleplot.head()

,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,x49,x73
ID,,,,,,,,,,
ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.5,92,6,27.666667,69,0,-0.59232,-0.89851
L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27,65,0,-0.5878,-0.9073
L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
L4,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.5,61,0,-0.59187,-0.89612

In [5]:
no_NH_no_diffaryl = pd.read_excel("../model_oct_bothsubs"+".xlsx", "no_NH_no_diffaryl", header=4, index_col = "entry_ID")
no_NH_no_diffaryl.head()

,1h_%yield,3.5h_%yield(avg),21h_%yield,x1,x2,x3,x4,x5,x6,x7,...,x181,x182,x183,x184,x185,x186,x187,x188,x189,x190
entry_ID,,,,,,,,,,,,,,,,,,,,,
entry_ID,1h_%yield,3.5h_%yield(avg),21h_%yield,is_sub2,is_sub4,dipole_minE,dipole_min,dipole_max,dipole_boltz,homo_Ehomo_minE,...,sterimol_SN_L_max,sterimol_SN_L_boltz,sterimol_SN_B1_minE,sterimol_SN_B1_min,sterimol_SN_B1_max,sterimol_SN_B1_boltz,sterimol_SN_B5_minE,sterimol_SN_B5_min,sterimol_SN_B5_max,sterimol_SN_B5_boltz
L1_s2,18,55.5,92,1,0,4.6738,2.7225,8.2197,5.251296,-0.28468,...,7.02,6.700352,2.01,1.32,2.44,1.948209,3.36,3.23,4.75,3.588738
L2_s2,9,36.333333,92,1,0,6.4564,2.9216,9.4559,5.974062,-0.26212,...,7.02,6.615812,2.28,1.33,2.36,1.89496,3.31,3.23,4.72,3.691642
L4_s2,17,57.666667,89,1,0,4.5808,3.4178,7.143,4.662696,-0.28572,...,6.36,6.231439,1.88,1.36,2.28,1.907129,3.25,3.18,4.19,3.287562
L5_s2,8,48.333333,83,1,0,4.5436,2.8483,8.3357,4.917359,-0.25323,...,7.95,7.765733,1.9,1.37,2.85,1.98555,3.32,3.22,5.6,3.440575

In [6]:
no_NH = pd.read_excel("../model_oct_bothsubs"+".xlsx", "no_NH", header=4, index_col = "entry_ID")
no_NH.head()

,1h_%yield,3.5h_%yield(avg),21h_%yield,x1,x2,x3,x4,x5,x6,x7,...,x181,x182,x183,x184,x185,x186,x187,x188,x189,x190
entry_ID,,,,,,,,,,,,,,,,,,,,,
entry_ID,1h_%yield,3.5h_%yield(avg),21h_%yield,is_sub2,is_sub4,dipole_minE,dipole_min,dipole_max,dipole_boltz,homo_Ehomo_minE,...,sterimol_SN_L_max,sterimol_SN_L_boltz,sterimol_SN_B1_minE,sterimol_SN_B1_min,sterimol_SN_B1_max,sterimol_SN_B1_boltz,sterimol_SN_B5_minE,sterimol_SN_B5_min,sterimol_SN_B5_max,sterimol_SN_B5_boltz
L1_s2,18,55.5,92,1,0,4.6738,2.7225,8.2197,5.251296,-0.28468,...,7.02,6.700352,2.01,1.32,2.44,1.948209,3.36,3.23,4.75,3.588738
L2_s2,9,36.333333,92,1,0,6.4564,2.9216,9.4559,5.974062,-0.26212,...,7.02,6.615812,2.28,1.33,2.36,1.89496,3.31,3.23,4.72,3.691642
L3_s2,6,19.666667,73,1,0,5.8854,3.5891,9.2314,6.634421,-0.25213,...,7.02,6.716563,1.88,1.32,2.37,1.937879,3.38,3.23,4.73,3.600442
L4_s2,17,57.666667,89,1,0,4.5808,3.4178,7.143,4.662696,-0.28572,...,6.36,6.231439,1.88,1.36,2.28,1.907129,3.25,3.18,4.19,3.287562

# Dynamic File Reader Options

In [7]:
'''
Automate construction of dataframe (rather than have the user provide certain params)
'''

def read_excel_file(path=0, sheet=0):
    #read file and create pandas DataFrame
    try:
        df = pd.read_excel(io=path, sheet_name=sheet, header=5)
        df.dropna(axis = 0, how = 'all', inplace = True)
        return df
    #error message if file cannot be found
    except IOError:
        print ("Could not read file:", path)

In [8]:
read_excel_file("../model_oct_bothsubs"+".xlsx")

,ID,SMILES,s2_1h_%yield,s2_3.5h_%yield(avg),s2_21h_%yield,s4_1h_%yield,s4_3.5h_%yield(avg),s4_21h_%yield,virtual,nbo_N_oxamide_max,nbo_aryl_sub_=O_max_max
0,L1,c1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,18,55.500000,92,6,27.666667,69,0,-0.59232,-0.89851
1,L2,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)F,9,36.333333,92,6,27.000000,65,0,-0.58780,-0.90730
2,L3,COc1cc(c(c(c1)S(=O)(=O)N2CCCCC2)NC(=O)C(=O)O)OC,6,19.666667,73,2,11.333333,57,0,-0.57818,-0.90199
3,L4,c1cc(c(c(c1)S(=O)(=O)N2CCOCC2)NC(=O)C(=O)O)F,17,57.666667,89,7,35.500000,61,0,-0.59187,-0.89612
4,L5,CN1CCN(CC1)S(=O)(=O)c2cccc(c2NC(=O)C(=O)[O-])F...,8,48.333333,83,3,21.333333,55,0,-0.59182,-0.90570
...,...,...,...,...,...,...,...,...,...,...,...
63,test_040,NaN,0,0.000000,0,0,0.000000,0,1,-0.59292,-0.90833
64,test_041,NaN,0,0.000000,0,0,0.000000,0,1,-0.59323,-0.89339
65,test_042,NaN,0,0.000000,0,0,0.000000,0,1,-0.59277,-0.90862
66,test_043,NaN,0,0.000000,0,0,0.000000,0,1,-0.59967,-0.89468
67,test_044,NaN,0,0.000000,0,0,0.000000,0,1,-0.59652,-0.88924